# Python cache
__pycache__/
*.pyc

# Pytest
.cache/
.pytest_cache/

# Pytest coverage
.coverage
code_coverage/

# Build
build/
dist/
*egg-info/

# Docs
code_docs/
_build/
docs/apidocs/source/

# Misc
.DS_Store
temp_*
